<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserDaoImpl">

	<select id="queryUser" resultType="entity.User" parameterType="entity.User">
		select user_id as userId, nick_name as nickName, password, header
		from users
		where user_id = #{userId} and password = #{password}
	</select>

	<insert id="insertUser" parameterType="entity.User">
		insert into users(user_id, nick_name, password, header)
		values(#{userId}, #{nickName}, #{password}, #{userId})
	</insert>

	<update id="updatePassword" parameterType="Map">
		update users
		set password = #{new_password}
		where user_id = #{id}
	</update>

	<update id="updateNickname" parameterType="Map">
		update users
		set nick_name = #{new_nickname}
		where user_id = #{id}
	</update>

	<update id="updateHeader" parameterType="Map">
		update users
		set header = #{new_header}
		where user_id = #{id}
	</update>

</mapper>